In [197]:
# importing dependencies
import pandas as pd

In [198]:
# Creating variables for each file path
school = "C:\\Users\\Derek\\Desktop\\pandas-challenge\\Resources\\schools_complete.csv"
student = "C:\\Users\\Derek\\Desktop\\pandas-challenge\\Resources\\students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school)
student_data = pd.read_csv(student)

In [199]:
# Merge the two files together
complete_data = pd.merge(student_data, school_data, how="left", on="school_name")
complete_data_df = pd.DataFrame(complete_data)
complete_data_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [200]:
# total number of schools
number_of_schools = len(complete_data_df["school_name"].unique())
number_of_schools

15

In [201]:
# total number of students
number_of_students = len(complete_data_df["Student ID"].unique())
number_of_students

39170

In [202]:
# total budget
budget = complete_data_df["budget"].unique()
total_budget = budget.sum()
total_budget

24649428

In [203]:
# average math score
math = complete_data_df["math_score"].sum()
math_average = math / number_of_students
math_average

78.98537145774827

In [204]:
# average reading score
reading = complete_data_df["reading_score"].sum()
reading_average = reading / number_of_students
reading_average

81.87784018381414

In [205]:
# Percentage of students passing math
passing_math_df = complete_data_df.loc[complete_data_df["math_score"] >= 70]
number_passing_math = passing_math_df["Student ID"].count()
math_percent_passing = (number_passing_math / number_of_students) * 100
math_percent_passing

74.9808526933878

In [206]:
# Percentage of students passing reading
passing_reading_df = complete_data_df.loc[complete_data_df["reading_score"] >= 70]
number_passing_reading = passing_reading_df["Student ID"].count()
reading_percent_passing = (number_passing_reading / number_of_students) * 100
reading_percent_passing

85.80546336482001

In [207]:
# Percentage of students passing both math and reading
passing_both_df = complete_data_df.loc[(complete_data_df["math_score"] >= 70) & (complete_data_df["reading_score"] >= 70)]
number_passing_both = passing_both_df["Student ID"].count()
passing_both_percent = (number_passing_both / number_of_students) * 100
passing_both_percent

65.17232575950983

In [208]:
# creating the district summary dataframe
district_summary = {"Total Schools": [number_of_schools],
                    "Total Students": [number_of_students],
                    "Total Budget": [total_budget],
                    "Average Math Score": [math_average],
                    "Average Reading Score": [reading_average],
                    "% Passing Math": [math_percent_passing],
                    "% Passing Reading": [reading_percent_passing],
                    "Overall Passing": [passing_both_percent]}

district_summary_df = pd.DataFrame(district_summary)                     
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,Overall Passing
0,15,39170,"$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [209]:
complete_data_df.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score', 'School ID', 'type', 'size', 'budget'],
      dtype='object')

In [210]:
# finding all of the school names from the complete data set to use for the school specific information
complete_data_df["school_name"].unique()

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [211]:
# school summary information-Bailey High School
bailey_name = "Bailey High School"

grouping_bailey = complete_data_df.loc[(complete_data_df["school_name"] == "Bailey High School")]
bailey_school_type = grouping_bailey["type"].unique()

bailey_students = grouping_bailey["Student ID"].count()

bailey_budget = grouping_bailey["budget"].unique()
bailey_budget_total = bailey_budget.sum()

bailey_per_student_budget = bailey_budget_total / bailey_students

average_math_bailey = grouping_bailey["math_score"].mean()

average_reading_bailey = grouping_bailey["reading_score"].mean()

bailey_passing_math = grouping_bailey.loc[grouping_bailey["math_score"] >= 70]
bailey_number_passing_math = bailey_passing_math["Student ID"].count()
bailey_math_percent_passing = (bailey_number_passing_math / bailey_students) * 100

bailey_passing_reading = grouping_bailey.loc[grouping_bailey["reading_score"] >= 70]
bailey_number_passing_reading = bailey_passing_reading["Student ID"].count()
bailey_reading_percent_passing = (bailey_number_passing_reading / bailey_students) * 100

bailey_passing_both = grouping_bailey.loc[(grouping_bailey["math_score"] >= 70) & (grouping_bailey["reading_score"] >= 70)]
bailey_number_passing_both = bailey_passing_both["Student ID"].count()
bailey_percent_both = (bailey_number_passing_both / bailey_students) * 100
bailey_percent_both

54.64228295819936

In [212]:
# school summary information-Cabrera High School
cabrera_name = "Cabrera High School"

grouping_cabrera = complete_data_df.loc[(complete_data_df["school_name"] == "Cabrera High School")]
cabrera_school_type = grouping_cabrera["type"].unique()

cabrera_students = grouping_cabrera["Student ID"].count()

cabrera_budget = grouping_cabrera["budget"].unique()
cabrera_budget_total = cabrera_budget.sum()

cabrera_per_student_budget = cabrera_budget_total / cabrera_students

average_math_cabrera = grouping_cabrera["math_score"].mean()

average_reading_cabrera = grouping_cabrera["reading_score"].mean()

cabrera_passing_math = grouping_cabrera.loc[grouping_cabrera["math_score"] >= 70]
cabrera_number_passing_math = cabrera_passing_math["Student ID"].count()
cabrera_math_percent_passing = (cabrera_number_passing_math / cabrera_students) * 100

cabrera_passing_reading = grouping_cabrera.loc[grouping_cabrera["reading_score"] >= 70]
cabrera_number_passing_reading = cabrera_passing_reading["Student ID"].count()
cabrera_reading_percent_passing = (cabrera_number_passing_reading / cabrera_students) * 100

cabrera_passing_both = grouping_cabrera.loc[(grouping_cabrera["math_score"] >= 70) & (grouping_cabrera["reading_score"] >= 70)]
cabrera_number_passing_both = cabrera_passing_both["Student ID"].count()
cabrera_percent_both = (cabrera_number_passing_both / cabrera_students) * 100
cabrera_percent_both

91.33476856835307

In [213]:
# school summary information-Figueroa High School
figueroa_name = "Figueroa High School"

grouping_figueroa = complete_data_df.loc[(complete_data_df["school_name"] == "Figueroa High School")]
figueroa_school_type = grouping_figueroa["type"].unique()

figueroa_students = grouping_figueroa["Student ID"].count()

figueroa_budget = grouping_figueroa["budget"].unique()
figueroa_budget_total = figueroa_budget.sum()

figueroa_per_student_budget = figueroa_budget_total / figueroa_students

average_math_figueroa = grouping_figueroa["math_score"].mean()

average_reading_figueroa = grouping_figueroa["reading_score"].mean()

figueroa_passing_math = grouping_figueroa.loc[grouping_figueroa["math_score"] >= 70]
figueroa_number_passing_math = figueroa_passing_math["Student ID"].count()
figueroa_math_percent_passing = (figueroa_number_passing_math / figueroa_students) * 100

figueroa_passing_reading = grouping_figueroa.loc[grouping_figueroa["reading_score"] >= 70]
figueroa_number_passing_reading = figueroa_passing_reading["Student ID"].count()
figueroa_reading_percent_passing = (figueroa_number_passing_reading / figueroa_students) * 100

figueroa_passing_both = grouping_figueroa.loc[(grouping_figueroa["math_score"] >= 70) & (grouping_figueroa["reading_score"] >= 70)]
figueroa_number_passing_both = figueroa_passing_both["Student ID"].count()
figueroa_percent_both = (figueroa_number_passing_both / figueroa_students) * 100
figueroa_percent_both

53.20447609359105

In [214]:
# school summary information-Ford High School
ford_name = "Ford High School"

grouping_ford = complete_data_df.loc[(complete_data_df["school_name"] == "Ford High School")]
ford_school_type = grouping_ford["type"].unique()

ford_students = grouping_ford["Student ID"].count()

ford_budget = grouping_ford["budget"].unique()
ford_budget_total = ford_budget.sum()

ford_per_student_budget = ford_budget_total / ford_students

average_math_ford = grouping_ford["math_score"].mean()

average_reading_ford = grouping_ford["reading_score"].mean()

ford_passing_math = grouping_ford.loc[grouping_ford["math_score"] >= 70]
ford_number_passing_math = ford_passing_math["Student ID"].count()
ford_math_percent_passing = (ford_number_passing_math / ford_students) * 100

ford_passing_reading = grouping_ford.loc[grouping_ford["reading_score"] >= 70]
ford_number_passing_reading = ford_passing_reading["Student ID"].count()
ford_reading_percent_passing = (ford_number_passing_reading / ford_students) * 100

ford_passing_both = grouping_ford.loc[(grouping_ford["math_score"] >= 70) & (grouping_ford["reading_score"] >= 70)]
ford_number_passing_both = ford_passing_both["Student ID"].count()
ford_percent_both = (ford_number_passing_both / ford_students) * 100
ford_percent_both

54.289886820007304

In [215]:
# school summary information-Griffin High School
griffin_name = "Griffin High School"

grouping_griffin = complete_data_df.loc[(complete_data_df["school_name"] == "Griffin High School")]
griffin_school_type = grouping_griffin["type"].unique()

griffin_students = grouping_griffin["Student ID"].count()

griffin_budget = grouping_griffin["budget"].unique()
griffin_budget_total = griffin_budget.sum()

griffin_per_student_budget = griffin_budget_total / griffin_students

average_math_griffin = grouping_griffin["math_score"].mean()

average_reading_griffin = grouping_griffin["reading_score"].mean()

griffin_passing_math = grouping_griffin.loc[grouping_griffin["math_score"] >= 70]
griffin_number_passing_math = griffin_passing_math["Student ID"].count()
griffin_math_percent_passing = (griffin_number_passing_math / griffin_students) * 100

griffin_passing_reading = grouping_griffin.loc[grouping_griffin["reading_score"] >= 70]
griffin_number_passing_reading = griffin_passing_reading["Student ID"].count()
griffin_reading_percent_passing = (griffin_number_passing_reading / griffin_students) * 100

griffin_passing_both = grouping_griffin.loc[(grouping_griffin["math_score"] >= 70) & (grouping_griffin["reading_score"] >= 70)]
griffin_number_passing_both = griffin_passing_both["Student ID"].count()
griffin_percent_both = (griffin_number_passing_both / griffin_students) * 100
griffin_percent_both

90.59945504087193

In [216]:
# school summary information-Hernandez High School
hernandez_name = "Hernandez High School"

grouping_hernandez = complete_data_df.loc[(complete_data_df["school_name"] == "Hernandez High School")]
hernandez_school_type = grouping_hernandez["type"].unique()

hernandez_students = grouping_hernandez["Student ID"].count()

hernandez_budget = grouping_hernandez["budget"].unique()
hernandez_budget_total = hernandez_budget.sum()

hernandez_per_student_budget = hernandez_budget_total / hernandez_students

average_math_hernandez = grouping_hernandez["math_score"].mean()

average_reading_hernandez = grouping_hernandez["reading_score"].mean()

hernandez_passing_math = grouping_hernandez.loc[grouping_hernandez["math_score"] >= 70]
hernandez_number_passing_math = hernandez_passing_math["Student ID"].count()
hernandez_math_percent_passing = (hernandez_number_passing_math / hernandez_students) * 100

hernandez_passing_reading = grouping_hernandez.loc[grouping_hernandez["reading_score"] >= 70]
hernandez_number_passing_reading = hernandez_passing_reading["Student ID"].count()
hernandez_reading_percent_passing = (hernandez_number_passing_reading / hernandez_students) * 100

hernandez_passing_both = grouping_hernandez.loc[(grouping_hernandez["math_score"] >= 70) & (grouping_hernandez["reading_score"] >= 70)]
hernandez_number_passing_both = hernandez_passing_both["Student ID"].count()
hernandez_percent_both = (hernandez_number_passing_both / hernandez_students) * 100
hernandez_percent_both

53.52750809061489

In [217]:
# school summary information-Holden High School
holden_name = "Holden High School"

grouping_holden = complete_data_df.loc[(complete_data_df["school_name"] == "Holden High School")]
holden_school_type = grouping_holden["type"].unique()

holden_students = grouping_holden["Student ID"].count()

holden_budget = grouping_holden["budget"].unique()
holden_budget_total = holden_budget.sum()

holden_per_student_budget = holden_budget_total / holden_students

average_math_holden = grouping_holden["math_score"].mean()

average_reading_holden = grouping_holden["reading_score"].mean()

holden_passing_math = grouping_holden.loc[grouping_holden["math_score"] >= 70]
holden_number_passing_math = holden_passing_math["Student ID"].count()
holden_math_percent_passing = (holden_number_passing_math / holden_students) * 100

holden_passing_reading = grouping_holden.loc[grouping_holden["reading_score"] >= 70]
holden_number_passing_reading = holden_passing_reading["Student ID"].count()
holden_reading_percent_passing = (holden_number_passing_reading / holden_students) * 100

holden_passing_both = grouping_holden.loc[(grouping_holden["math_score"] >= 70) & (grouping_holden["reading_score"] >= 70)]
holden_number_passing_both = holden_passing_both["Student ID"].count()
holden_percent_both = (holden_number_passing_both / holden_students) * 100
holden_percent_both

89.22716627634661

In [218]:
# school summary information-Huang High School
huang_name = "Huang High School"

grouping_huang = complete_data_df.loc[(complete_data_df["school_name"] == "Huang High School")]
huang_school_type = grouping_huang["type"].unique()

huang_students = grouping_huang["Student ID"].count()

huang_budget = grouping_huang["budget"].unique()
huang_budget_total = huang_budget.sum()

huang_per_student_budget = huang_budget_total / huang_students

average_math_huang = grouping_huang["math_score"].mean()

average_reading_huang = grouping_huang["reading_score"].mean()

huang_passing_math = grouping_huang.loc[grouping_huang["math_score"] >= 70]
huang_number_passing_math = huang_passing_math["Student ID"].count()
huang_math_percent_passing = (huang_number_passing_math / huang_students) * 100

huang_passing_reading = grouping_huang.loc[grouping_huang["reading_score"] >= 70]
huang_number_passing_reading = huang_passing_reading["Student ID"].count()
huang_reading_percent_passing = (huang_number_passing_reading / huang_students) * 100

huang_passing_both = grouping_huang.loc[(grouping_huang["math_score"] >= 70) & (grouping_huang["reading_score"] >= 70)]
huang_number_passing_both = huang_passing_both["Student ID"].count()
huang_percent_both = (huang_number_passing_both / huang_students) * 100
huang_percent_both

53.51388412752828

In [219]:
# school summary information-Johnson High School
johnson_name = "Johnson High School"

grouping_johnson = complete_data_df.loc[(complete_data_df["school_name"] == "Johnson High School")]
johnson_school_type = grouping_johnson["type"].unique()

johnson_students = grouping_johnson["Student ID"].count()

johnson_budget = grouping_johnson["budget"].unique()
johnson_budget_total = johnson_budget.sum()

johnson_per_student_budget = johnson_budget_total / johnson_students

average_math_johnson = grouping_johnson["math_score"].mean()

average_reading_johnson = grouping_johnson["reading_score"].mean()

johnson_passing_math = grouping_johnson.loc[grouping_johnson["math_score"] >= 70]
johnson_number_passing_math = johnson_passing_math["Student ID"].count()
johnson_math_percent_passing = (johnson_number_passing_math / johnson_students) * 100

johnson_passing_reading = grouping_johnson.loc[grouping_johnson["reading_score"] >= 70]
johnson_number_passing_reading = johnson_passing_reading["Student ID"].count()
johnson_reading_percent_passing = (johnson_number_passing_reading / johnson_students) * 100

johnson_passing_both = grouping_johnson.loc[(grouping_johnson["math_score"] >= 70) & (grouping_johnson["reading_score"] >= 70)]
johnson_number_passing_both = johnson_passing_both["Student ID"].count()
johnson_percent_both = (johnson_number_passing_both / johnson_students) * 100
johnson_percent_both

53.53917244276413

In [220]:
# school summary information-Pena High School
pena_name = "Pena High School"

grouping_pena = complete_data_df.loc[(complete_data_df["school_name"] == "Pena High School")]
pena_school_type = grouping_pena["type"].unique()

pena_students = grouping_pena["Student ID"].count()

pena_budget = grouping_pena["budget"].unique()
pena_budget_total = pena_budget.sum()

pena_per_student_budget = pena_budget_total / pena_students

average_math_pena = grouping_pena["math_score"].mean()

average_reading_pena = grouping_pena["reading_score"].mean()

pena_passing_math = grouping_pena.loc[grouping_pena["math_score"] >= 70]
pena_number_passing_math = pena_passing_math["Student ID"].count()
pena_math_percent_passing = (pena_number_passing_math / pena_students) * 100

pena_passing_reading = grouping_pena.loc[grouping_pena["reading_score"] >= 70]
pena_number_passing_reading = pena_passing_reading["Student ID"].count()
pena_reading_percent_passing = (pena_number_passing_reading / pena_students) * 100

pena_passing_both = grouping_pena.loc[(grouping_pena["math_score"] >= 70) & (grouping_pena["reading_score"] >= 70)]
pena_number_passing_both = pena_passing_both["Student ID"].count()
pena_percent_both = (pena_number_passing_both / pena_students) * 100
pena_percent_both

90.54054054054053

In [221]:
# school summary information-Rodriguez High School
rodriguez_name = "Rodriguez High School"

grouping_rodriguez = complete_data_df.loc[(complete_data_df["school_name"] == "Rodriguez High School")]
rodriguez_school_type = grouping_rodriguez["type"].unique()

rodriguez_students = grouping_rodriguez["Student ID"].count()

rodriguez_budget = grouping_rodriguez["budget"].unique()
rodriguez_budget_total = rodriguez_budget.sum()

rodriguez_per_student_budget = rodriguez_budget_total / rodriguez_students

average_math_rodriguez = grouping_rodriguez["math_score"].mean()

average_reading_rodriguez = grouping_rodriguez["reading_score"].mean()

rodriguez_passing_math = grouping_rodriguez.loc[grouping_rodriguez["math_score"] >= 70]
rodriguez_number_passing_math = rodriguez_passing_math["Student ID"].count()
rodriguez_math_percent_passing = (rodriguez_number_passing_math / rodriguez_students) * 100

rodriguez_passing_reading = grouping_rodriguez.loc[grouping_rodriguez["reading_score"] >= 70]
rodriguez_number_passing_reading = rodriguez_passing_reading["Student ID"].count()
rodriguez_reading_percent_passing = (rodriguez_number_passing_reading / rodriguez_students) * 100

rodriguez_passing_both = grouping_rodriguez.loc[(grouping_rodriguez["math_score"] >= 70) & (grouping_rodriguez["reading_score"] >= 70)]
rodriguez_number_passing_both = rodriguez_passing_both["Student ID"].count()
rodriguez_percent_both = (rodriguez_number_passing_both / rodriguez_students) * 100
rodriguez_percent_both

52.988247061765435

In [222]:
# school summary information-Shelton High School
shelton_name = "Shelton High School"

grouping_shelton = complete_data_df.loc[(complete_data_df["school_name"] == "Shelton High School")]
shelton_school_type = grouping_shelton["type"].unique()

shelton_students = grouping_shelton["Student ID"].count()

shelton_budget = grouping_shelton["budget"].unique()
shelton_budget_total = shelton_budget.sum()

shelton_per_student_budget = shelton_budget_total / shelton_students

average_math_shelton = grouping_shelton["math_score"].mean()

average_reading_shelton = grouping_shelton["reading_score"].mean()

shelton_passing_math = grouping_shelton.loc[grouping_shelton["math_score"] >= 70]
shelton_number_passing_math = shelton_passing_math["Student ID"].count()
shelton_math_percent_passing = (shelton_number_passing_math / shelton_students) * 100

shelton_passing_reading = grouping_shelton.loc[grouping_shelton["reading_score"] >= 70]
shelton_number_passing_reading = shelton_passing_reading["Student ID"].count()
shelton_reading_percent_passing = (shelton_number_passing_reading / shelton_students) * 100

shelton_passing_both = grouping_shelton.loc[(grouping_shelton["math_score"] >= 70) & (grouping_shelton["reading_score"] >= 70)]
shelton_number_passing_both = shelton_passing_both["Student ID"].count()
shelton_percent_both = (shelton_number_passing_both / shelton_students) * 100
shelton_percent_both

89.89210675752413

In [223]:
# school summary information-Thomas High School
thomas_name = "Thomas High School"

grouping_thomas = complete_data_df.loc[(complete_data_df["school_name"] == "Thomas High School")]
thomas_school_type = grouping_thomas["type"].unique()

thomas_students = grouping_thomas["Student ID"].count()

thomas_budget = grouping_thomas["budget"].unique()
thomas_budget_total = thomas_budget.sum()

thomas_per_student_budget = thomas_budget_total / thomas_students

average_math_thomas = grouping_thomas["math_score"].mean()

average_reading_thomas = grouping_thomas["reading_score"].mean()

thomas_passing_math = grouping_thomas.loc[grouping_thomas["math_score"] >= 70]
thomas_number_passing_math = thomas_passing_math["Student ID"].count()
thomas_math_percent_passing = (thomas_number_passing_math / thomas_students) * 100

thomas_passing_reading = grouping_thomas.loc[grouping_thomas["reading_score"] >= 70]
thomas_number_passing_reading = thomas_passing_reading["Student ID"].count()
thomas_reading_percent_passing = (thomas_number_passing_reading / thomas_students) * 100

thomas_passing_both = grouping_thomas.loc[(grouping_thomas["math_score"] >= 70) & (grouping_thomas["reading_score"] >= 70)]
thomas_number_passing_both = thomas_passing_both["Student ID"].count()
thomas_percent_both = (thomas_number_passing_both / thomas_students) * 100
thomas_percent_both

90.94801223241589

In [224]:
# school summary information-Wilson High School
wilson_name = "Wilson High School"

grouping_wilson = complete_data_df.loc[(complete_data_df["school_name"] == "Wilson High School")]
wilson_school_type = grouping_wilson["type"].unique()

wilson_students = grouping_wilson["Student ID"].count()

wilson_budget = grouping_wilson["budget"].unique()
wilson_budget_total = wilson_budget.sum()

wilson_per_student_budget = wilson_budget_total / wilson_students

average_math_wilson = grouping_wilson["math_score"].mean()

average_reading_wilson = grouping_wilson["reading_score"].mean()

wilson_passing_math = grouping_wilson.loc[grouping_wilson["math_score"] >= 70]
wilson_number_passing_math = wilson_passing_math["Student ID"].count()
wilson_math_percent_passing = (wilson_number_passing_math / wilson_students) * 100

wilson_passing_reading = grouping_wilson.loc[grouping_wilson["reading_score"] >= 70]
wilson_number_passing_reading = wilson_passing_reading["Student ID"].count()
wilson_reading_percent_passing = (wilson_number_passing_reading / wilson_students) * 100

wilson_passing_both = grouping_wilson.loc[(grouping_wilson["math_score"] >= 70) & (grouping_wilson["reading_score"] >= 70)]
wilson_number_passing_both = wilson_passing_both["Student ID"].count()
wilson_percent_both = (wilson_number_passing_both / wilson_students) * 100
wilson_percent_both

90.58256679807272

In [225]:
# school summary information-Wright High School
wright_name = "Wright High School"

grouping_wright = complete_data_df.loc[(complete_data_df["school_name"] == "Wright High School")]
wright_school_type = grouping_wright["type"].unique()

wright_students = grouping_wright["Student ID"].count()

wright_budget = grouping_wright["budget"].unique()
wright_budget_total = wright_budget.sum()

wright_per_student_budget = wright_budget_total / wright_students

average_math_wright = grouping_wright["math_score"].mean()

average_reading_wright = grouping_wright["reading_score"].mean()

wright_passing_math = grouping_wright.loc[grouping_wright["math_score"] >= 70]
wright_number_passing_math = wright_passing_math["Student ID"].count()
wright_math_percent_passing = (wright_number_passing_math / wright_students) * 100

wright_passing_reading = grouping_wright.loc[grouping_wright["reading_score"] >= 70]
wright_number_passing_reading = wright_passing_reading["Student ID"].count()
wright_reading_percent_passing = (wright_number_passing_reading / wright_students) * 100

wright_passing_both = grouping_wright.loc[(grouping_wright["math_score"] >= 70) & (grouping_wright["reading_score"] >= 70)]
wright_number_passing_both = wright_passing_both["Student ID"].count()
wright_percent_both = (wright_number_passing_both / wright_students) * 100
wright_percent_both

90.33333333333333

In [226]:
# school summary with all of the necessary information
school_summary = {"School Name": [bailey_name, cabrera_name, figueroa_name, ford_name, griffin_name, hernandez_name, holden_name, huang_name, johnson_name, pena_name, rodriguez_name, shelton_name, thomas_name, wilson_name, wright_name],
                  "School Type": [bailey_school_type, cabrera_school_type, figueroa_school_type, ford_school_type, griffin_school_type, hernandez_school_type, holden_school_type, huang_school_type, johnson_school_type, pena_school_type, rodriguez_school_type, shelton_school_type, thomas_school_type, wilson_school_type, wright_school_type],
                  "Total Students": [bailey_students, cabrera_students, figueroa_students, ford_students, griffin_students, hernandez_students, holden_students, huang_students, johnson_students, pena_students, rodriguez_students, shelton_students, thomas_students, wilson_students, wright_students],
                  "Total School Budget": [bailey_budget_total, cabrera_budget_total, figueroa_budget_total, ford_budget_total, griffin_budget_total, hernandez_budget_total, holden_budget_total, huang_budget_total, johnson_budget_total, pena_budget_total, rodriguez_budget_total, shelton_budget_total, thomas_budget_total, wilson_budget_total, wright_budget_total],
                  "Per Student Budget": [bailey_per_student_budget, cabrera_per_student_budget, figueroa_per_student_budget, ford_per_student_budget, griffin_per_student_budget, hernandez_per_student_budget, holden_per_student_budget, huang_per_student_budget, johnson_per_student_budget, pena_per_student_budget, rodriguez_per_student_budget, shelton_per_student_budget, thomas_per_student_budget, wilson_per_student_budget, wright_per_student_budget],
                  "Average Math Score": [average_math_bailey, average_math_cabrera, average_math_figueroa, average_math_ford, average_math_griffin, average_math_hernandez, average_math_holden, average_math_huang, average_math_johnson, average_math_pena, average_math_rodriguez, average_math_shelton, average_math_thomas, average_math_wilson, average_math_wright],
                  "Average Reading Score": [average_reading_bailey, average_reading_cabrera, average_reading_figueroa, average_reading_ford, average_reading_griffin, average_reading_hernandez, average_reading_holden, average_reading_huang, average_reading_johnson, average_reading_pena, average_reading_rodriguez, average_reading_shelton, average_reading_thomas, average_reading_wilson, average_reading_wright],
                  "Percent Passing Math": [bailey_math_percent_passing, cabrera_math_percent_passing, figueroa_math_percent_passing, ford_math_percent_passing, griffin_math_percent_passing, hernandez_math_percent_passing, holden_math_percent_passing, huang_math_percent_passing, johnson_math_percent_passing, pena_math_percent_passing, rodriguez_math_percent_passing, shelton_math_percent_passing, thomas_math_percent_passing, wilson_math_percent_passing, wright_math_percent_passing],
                  "Percent Passing Reading": [bailey_reading_percent_passing, cabrera_reading_percent_passing, figueroa_reading_percent_passing, ford_reading_percent_passing, griffin_reading_percent_passing, hernandez_reading_percent_passing, holden_reading_percent_passing, huang_reading_percent_passing, johnson_reading_percent_passing, pena_reading_percent_passing, rodriguez_reading_percent_passing, shelton_reading_percent_passing, thomas_reading_percent_passing, wilson_reading_percent_passing, wright_reading_percent_passing],
                  "Percent Overall Passing": [bailey_percent_both, cabrera_percent_both, figueroa_percent_both, ford_percent_both, griffin_percent_both, hernandez_percent_both, holden_percent_both, huang_percent_both, johnson_percent_both, pena_percent_both, rodriguez_percent_both, shelton_percent_both, thomas_percent_both, wilson_percent_both, wright_percent_both]
                 }
school_summary_df = pd.DataFrame(school_summary)
school_summary_updated_df = school_summary_df.set_index("School Name")
school_summary_updated_df["Total School Budget"] = school_summary_updated_df["Total School Budget"].map("${:,.2f}".format)
school_summary_updated_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
School Name,,,,,,,,,
Bailey High School,[District],4976,"$3,124,928.00",628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,[Charter],1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,[District],2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,[District],2739,"$1,763,916.00",644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,[Charter],1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,[District],4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,[Charter],427,"$248,087.00",581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,[District],2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,[District],4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,[Charter],962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,[District],3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,[Charter],1761,"$1,056,600.00",600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,[Charter],1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,[Charter],2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,[Charter],1800,"$1,049,400.00",583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [227]:
# Highest Performing Schools sorted by Overall Passing Percentage
highest_overall_passing_df = school_summary_updated_df.sort_values("Percent Overall Passing", ascending=False)
highest_overall_passing_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
School Name,,,,,,,,,
Cabrera High School,[Charter],1858,"$1,081,356.00",582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,[Charter],1635,"$1,043,130.00",638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,[Charter],1468,"$917,500.00",625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,[Charter],2283,"$1,319,574.00",578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,[Charter],962,"$585,858.00",609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [228]:
# Lowest Performing Schools sorted by Overall Passing Percentage
lowest_overall_passing_df = school_summary_updated_df.sort_values("Percent Overall Passing")
lowest_overall_passing_df.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
School Name,,,,,,,,,
Rodriguez High School,[District],3999,"$2,547,363.00",637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,[District],2949,"$1,884,411.00",639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,[District],2917,"$1,910,635.00",655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,[District],4635,"$3,022,020.00",652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,[District],4761,"$3,094,650.00",650.0,77.072464,80.966394,66.057551,81.222432,53.539172

In [229]:
# renaming the column titles and creating a new dataframe to use to write the new code for the math scores per grade
# finding the average of the math scores by grade
renamed_complete_data_df = complete_data_df.rename(columns={"school_name": "School Name", "grade": "Grade", "reading_score": "Reading Score",
                                           "math_score": "Math Score"})
math_df = renamed_complete_data_df[["Grade", "School Name", "Math Score"]]

grouped_math_df = math_df.groupby(["School Name", "Grade"])
grouped_math_df.mean()

                             Math Score
School Name           Grade
Bailey High School    10th    76.996772
                      11th    77.515588
                      12th    76.492218
                      9th     77.083676
Cabrera High School   10th    83.154506
                      11th    82.765560
                      12th    83.277487
                      9th     83.094697
Figueroa High School  10th    76.539974
                      11th    76.884344
                      12th    77.151369
                      9th     76.403037
Ford High School      10th    77.672316
                      11th    76.918058
                      12th    76.179963
                      9th     77.361345
Griffin High School   10th    84.229064
                      11th    83.842105
                      12th    83.356164
                      9th     82.044010
Hernandez High School 10th    77.337408
                      11th    77.136029
                      12th    77.186567
                      9th     77.438495
Holden High School    10th    83.429825
                      11th    85.000000
                      12th    82.855422
                      9th     83.787402
Huang High School     10th    75.908735
                      11th    76.446602
                      12th    77.225641
                      9th     77.027251
Johnson High School   10th    76.691117
                      11th    77.491653
                      12th    76.863248
                      9th     77.187857
Pena High School      10th    83.372000
                      11th    84.328125
                      12th    84.121547
                      9th     83.625455
Rodriguez High School 10th    76.612500
                      11th    76.395626
                      12th    77.690748
                      9th     76.859966
Shelton High School   10th    82.917411
                      11th    83.383495
                      12th    83.778976
                      9th     83.420755
Thomas High School    10th    83.087886
                      11th    83.498795
                      12th    83.497041
                      9th     83.590022
Wilson High School    10th    83.724422
                      11th    83.195326
                      12th    83.035794
                      9th     83.085578
Wright High School    10th    84.010288
                      11th    83.836782
                      12th    83.644986
                      9th     83.264706

In [230]:
# renaming the column titles and creating a new dataframe to use to write the new code for the reading scores per grade
# Finding the average of scores by grade for reading
reading_df = renamed_complete_data_df[["Grade", "School Name", "Reading Score"]]
reading_df

grouped_reading_df = reading_df.groupby(["School Name", "Grade"])
grouped_reading_df.mean()

                             Reading Score
School Name           Grade
Bailey High School    10th       80.907183
                      11th       80.945643
                      12th       80.912451
                      9th        81.303155
Cabrera High School   10th       84.253219
                      11th       83.788382
                      12th       84.287958
                      9th        83.676136
Figueroa High School  10th       81.408912
                      11th       80.640339
                      12th       81.384863
                      9th        81.198598
Ford High School      10th       81.262712
                      11th       80.403642
                      12th       80.662338
                      9th        80.632653
Griffin High School   10th       83.706897
                      11th       84.288089
                      12th       84.013699
                      9th        83.369193
Hernandez High School 10th       80.660147
                      11th       81.396140
                      12th       80.857143
                      9th        80.866860
Holden High School    10th       83.324561
                      11th       83.815534
                      12th       84.698795
                      9th        83.677165
Huang High School     10th       81.512386
                      11th       81.417476
                      12th       80.305983
                      9th        81.290284
Johnson High School   10th       80.773431
                      11th       80.616027
                      12th       81.227564
                      9th        81.260714
Pena High School      10th       83.612000
                      11th       84.335938
                      12th       84.591160
                      9th        83.807273
Rodriguez High School 10th       80.629808
                      11th       80.864811
                      12th       80.376426
                      9th        80.993127
Shelton High School   10th       83.441964
                      11th       84.373786
                      12th       82.781671
                      9th        84.122642
Thomas High School    10th       84.254157
                      11th       83.585542
                      12th       83.831361
                      9th        83.728850
Wilson High School    10th       84.021452
                      11th       83.764608
                      12th       84.317673
                      9th        83.939778
Wright High School    10th       83.812757
                      11th       84.156322
                      12th       84.073171
                      9th        83.833333

In [231]:
# creating new dataframe to only hold the necessary information
new_df = school_summary_df[["Per Student Budget", "Average Math Score", "Average Reading Score", "Percent Passing Math",
                            "Percent Passing Reading", "Percent Overall Passing"]]
new_df

,Per Student Budget,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
1,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
2,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
3,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
4,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
5,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
6,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
7,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
8,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
9,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
10,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
11,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
12,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
13,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
14,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [179]:
# creating a table to breakdown the school performance by spending ranges per student
bins = [0, 580, 615, 640, 675]
spending_labels = ["Below $580", "$580-625", "$625-650", "Above $650"]
new_df["Spending Ranges (Per Student)"] = pd.cut(new_df["Per Student Budget"], bins, labels=spending_labels)
spending_grouped = new_df.groupby("Spending Ranges (Per Student)")
spending_grouped[["Average Math Score", "Average Reading Score", "Percent Passing Math", "Percent Passing Reading",
                  "Percent Overall Passing"]].mean()

C:\Users\Derek\AppData\Local\Temp/ipykernel_11116/4230290360.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df["Spending Ranges (Per Student)"] = pd.cut(new_df["Per Student Budget"], bins, labels=spending_labels)

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
Spending Ranges (Per Student),,,,,
Below $580,83.274201,83.989488,93.867718,96.539641,90.582567
$580-625,83.549353,83.903238,93.686876,96.340888,90.265583
$625-650,79.474551,82.120471,77.139934,87.468080,68.476495
Above $650,77.023555,80.957446,66.701010,80.675217,53.717613

In [232]:
# creating new dataframe to only hold the necessary information
new_school_df = school_summary_updated_df[["School Type", "Total Students", "Average Math Score", "Average Reading Score",
                                           "Percent Passing Math", "Percent Passing Reading", "Percent Overall Passing"]]
new_school_df

,School Type,Total Students,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
School Name,,,,,,,
Bailey High School,[District],4976,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,[Charter],1858,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,[District],2949,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,[District],2739,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,[Charter],1468,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,[District],4635,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,[Charter],427,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,[District],2917,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,[District],4761,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,[Charter],962,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,[District],3999,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,[Charter],1761,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,[Charter],1635,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,[Charter],2283,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,[Charter],1800,83.682222,83.955000,93.333333,96.611111,90.333333

In [194]:
# creating a table to breakdown the school performance by school size
bins = [0, 1000, 2500, 5000]
school_labels = ["Small (Below 1000)", "Medium (1000-2500)", "Large (2500-5000)"]
new_school_df["School Size"] = pd.cut(new_school_df["Total Students"], bins, labels=school_labels)
school_size = new_school_df.groupby("School Size")
school_size[["Average Math Score", "Average Reading Score", "Percent Passing Math", "Percent Passing Reading",
                  "Percent Overall Passing"]].mean()

C:\Users\Derek\AppData\Local\Temp/ipykernel_11116/1387696199.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_school_df["School Size"] = pd.cut(new_school_df["Total Students"], bins, labels=school_labels)

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
School Size,,,,,
Small (Below 1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2500),83.357937,83.885280,93.644365,96.748840,90.615040
Large (2500-5000),76.956733,80.966636,66.548453,80.799062,53.672208

In [245]:
# calculating the averages of the necessary information
school_type_district = school_summary_updated_df.loc[school_summary_updated_df["School Type"] == "District"]
school_type_charter = school_summary_updated_df.loc[school_summary_updated_df["School Type"] == "Charter"]
school_type_df = pd.DataFrame({"School Type": ["District", "Charter"],
                               "Average Math Score": [school_type_district["Average Math Score"].mean(), school_type_charter["Average Math Score"].mean()],
                               "Average Reading Score": [school_type_district["Average Reading Score"].mean(), school_type_charter["Average Reading Score"].mean()],
                               "Percent Passing Math": [school_type_district["Percent Passing Math"].mean(), school_type_charter["Percent Passing Math"].mean()],
                               "Percent Passing Reading": [school_type_district["Percent Passing Reading"].mean(), school_type_charter["Percent Passing Reading"].mean()],
                               "Percent Overall Passing": [school_type_district["Percent Overall Passing"].mean(), school_type_charter["Percent Overall Passing"].mean()]                             
                              })
updated_school_type_df = school_type_df.set_index("School Type")
updated_school_type_df

,Average Math Score,Average Reading Score,Percent Passing Math,Percent Passing Reading,Percent Overall Passing
School Type,,,,,
District,76.956733,80.966636,66.548453,80.799062,53.672208
Charter,83.473852,83.896421,93.620830,96.586489,90.432244